
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
                          /* common styles */
*{
  margin: 0;
  padding: 0;
  

}
.flex{
  display: flex;
}
.btn{
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  padding: 13px;
  font-size: 1rem;
  border-radius: 15px;
}
.grid-color{
  background-color:rgba(53, 17, 101, 0.4);
  padding: 40px;
   border-radius: 48px;
}


/* text white color */
.white{
  color:#FFFFFF ;
}

/* header styles */
header{
  background-color: #1A0B2E;
}
#wave{
  color:  #FB09B4

  
}
.nav{
  display: flex;
  justify-content: space-around;
  text-align: center;
  
  align-items: center;
}
.brand{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5rem;
}
.menu-list{
  
  list-style: none;
  gap: 32px;
}
/* nav ends */

.full-content{
  background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
  width: 100%;
}

/* .hero-section{
  background-image:url(./B13-A02-TechWave/assets/hero-bg.png);
  width: 100%;

} */
#circle{
  position: relative;
  left: 625px;
  top: 101px;
  
}
#microphone{
  position: relative;
  left: 390px;
  top: 5px;
}
#new{
  background-color: #00FF88;
  padding:10px ;
  border-radius: 20px;
  position: relative;
  left: 430px;
  top: -200px;
}
.hero-content h3{
  margin-top: 90px;
  font-size: 4rem;
  margin-bottom: 8px;
  
}
.hero-content{
  text-align: center;
  margin-left: 60px;
  padding-bottom: 101px;
}
.hero-content p{
  margin-bottom: 24px;
}
#button-spotify{
  margin-top: px;
  margin-right: 10px;
}
#subs-button{
  background: transparent;
  color: #00FF88;
  padding: 16px;
  border-color: #00FF88;
  border-radius: 20px;
}
#message{
  margin-right: 8px;
}
/* first page ends here */


/* second page start  here */
.second-page{
  background-color: #1A0B2E;
}
.second-page-content{
  text-align: center;
}
.second-page-content h3{
  font-size: 3rem;
  margin-bottom: 16px;

}
.second-page-content p{
  font-size: 1rem;
  

}
#second-page-p{
  margin-top: 50px;
  margin-bottom: 160px;
}
.card{
  display: flex;
  margin-top: 80px;
  gap: 80px;
  justify-content: center;
  padding-bottom: 150px;

}
.card h3{
  font-size: 3rem;
  color:#00FF88;
  margin-bottom: 16px;
}
.card p{
  font-size: 1rem;
}
/* third page start here */


#thunder{
  width: 60px;
  height: 60px;
}

.third-page{
  background-color: 
rgba(35, 14, 61, 1);
padding: 120px 200px;

}
.third-page div h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}




.headphone{
  grid-area: headphone;
}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.thunder{
  grid-area: thunder;
}
.book{
  grid-area: book;
}

.grid-content{
  
  gap: 30px;
  
  display: grid;
  
  grid-template-areas: "headphone mobile mobile"
                       "headphone global global"
                       "thunder thunder book";
  
  
}
.grid-content img{
  margin-bottom: 16px;
}
.grid-content h4{
  margin-bottom: 16px;
  font-size: 1.5rem;
}
.grid-content p{
  
  font-size: 1rem;
  color: #FFFFFF;
}
/* featured episode page starts here */
.featured-episode{
  background-color: #1A0B2E;
  padding: 120px 200px;
}
.featured-episode h2{
  font-size: 3rem;
  text-align: center;
}
.featured-card{
  display: flex;
  gap: 30px;
}
/* some shared style */
.featured-card-styles{
  border-radius: 24px;
  border: 1px solid rgba(37, 13, 68, 1);
  
  background-color: rgba(37, 13, 68, 1);;
}
.featured-card div div{
  padding: 24px;
}
.featured-card div div h3{
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.featured-p{
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.featured-clock{
  color: #00FF88;
}









