
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
                          /* common styles */
*{
  margin: 0;
  padding: 0;
  .hide{
    display: none;
  }



}
.flex{
  display: flex;
}
.btn{
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  padding: 13px;
  font-size: 1rem;
  border-radius: 15px;
}
.btn:hover{
  cursor: pointer;
  transform: scale(0.9);
}
.grid-color{
  background-color:rgba(53, 17, 101, 0.4);
  padding: 40px;
   border-radius: 48px;
}


/* text white color */
.white{
  color:#FFFFFF;
  font-size: 1rem;
}

/* header styles */
header{
  background-color: #1A0B2E;
}
.tech{
  font-size: 3rem;
}
.wave{
  color:  #FB09B4;
  font-size: 3rem;


  
}
.hamburger-menu{
  display: none;
}
.nav{
  
  justify-content: space-around;
  text-align: center;
  
  align-items: center;
}
.brand{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5rem;
}
.menu-list{
  
  list-style: none;
  gap: 32px;
}
/* nav ends */

.full-content{
  background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
  background-repeat: no-repeat;
  
  width: 100%;
}

/* .hero-section{
  background-image:url(./B13-A02-TechWave/assets/hero-bg.png);
  width: 100%;

} */
.circle{
  position: relative;
  left: 625px;
  top: 101px;
  
}
.microphone{
  position: relative;
  left: 390px;
  top: 5px;
}
.new{
  background-color: #00FF88;
  padding:10px ;
  border-radius: 20px;
  position: relative;
  left: 430px;
  top: -200px;
}
.hero-content h3{
  margin-top: 90px;
  font-size: 4rem;
  margin-bottom: 8px;
  
}
.hero-content{
  text-align: center;
  margin-left: 60px;
  padding-bottom: 101px;
}
.hero-content p{
  margin-bottom: 24px;
}
#button-spotify{
  margin-top: px;
  margin-right: 10px;
}
#subs-button{
  background: transparent;
  color: #00FF88;
  padding: 16px;
  border-color: #00FF88;
  border-radius: 20px;
}
#message{
  margin-right: 8px;
}
#subs-button:hover{
  transform: scale(1.1);
}
/* first page ends here */


/* second page start  here */
.second-page{
  background-color: #1A0B2E;
}
.second-page-content{
  text-align: center;
}
.second-page-content h3{
  font-size: 3rem;
  margin-bottom: 16px;

}
.second-page-content p{
  font-size: 1rem;
  

}
#second-page-p{
  margin-top: 50px;
  margin-bottom: 160px;
}
.card{
  
  margin-top: 80px;
  gap: 80px;
  justify-content: center;
  padding-bottom: 150px;

}
.card h3{
  font-size: 3rem;
  color:#00FF88;
  margin-bottom: 16px;
}
.card p{
  font-size: 1rem;
}
/* third page start here */


#thunder{
  width: 60px;
  height: 60px;
}

.third-page{
  background-color: 
rgba(35, 14, 61, 1);
padding: 120px 200px;

}
.third-page div h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}




.headphone{
  grid-area: headphone;
}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.thunder{
  grid-area: thunder;
}
.book{
  grid-area: book;
}

.grid-content{
  
  gap: 30px;
  
  display: grid;
  
  grid-template-areas: "headphone mobile mobile"
                       "headphone global global"
                       "thunder thunder book";
  
  
}
.grid-color:hover{
  background-color: rgb(158, 173, 137);
}
.grid-content img{
  margin-bottom: 16px;
}
.grid-content h4{
  margin-bottom: 16px;
  font-size: 1.5rem;
}
.grid-content p{
  
  font-size: 1rem;
  color: #FFFFFF;
}
/* featured episode page starts here */
.featured-episode{
  background-color: #1A0B2E;
  padding: 120px 200px;
}
.featured-episode>h2{
  font-size: 3rem;
  text-align: center;
}
.featured-card{
  
  gap: 30px;
}
.featured-card-styles:hover{
    transform: rotate(5deg);

}

/* some shared style */
.featured-card-styles{
  
  border-radius: 24px;
  border: 1px solid rgba(37, 13, 68, 1);
  
  background-color: rgba(37, 13, 68, 1);;
}
.featured-card div div{
  padding: 24px;
}
.featured-card div div h3{
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.featured-p{
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.featured-clock{
  color: #00FF88;
}
/* .......meet the host styles......... */
.meet-host{
  margin-top: 120px;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 40px;
}
.feature-footer div h2{
  font-size: 2rem;
  margin-bottom: 16px;
  
}
.feature-footer{
  
  gap: 24px;
  background-color:  rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.feature-footer:hover{
  background-color: rgb(158, 173, 137);
}
#bio-data{
  text-align: start;
}
#bio-data>p{
  color: #FFFFFF;
  font-size: 1rem;
  margin-bottom: 16px;
}
.icon-circle{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(83, 60, 114, 1);
  
}
.icon-circle img{
  padding: 12px;
}
.icons{
  gap: 10px;
}
/* footer styles */
footer{
  background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
  text-align: center;
  height: 412px;}
.footer-tech{
  font-size: 5rem;
}
.footer-wave{
  color:  #FB09B4;
  font-size: 5rem;

  
}

footer>h3{
  padding-top: 120px;
  padding-bottom: 5px;
}
.footer-icons{
  justify-content: center;
  gap: 40px;
 
}
.icon-p{
  gap: 2px;
  margin-bottom: 32px;
}

/* Small device: up to 576 px
Medium Device: 576px to 992 px (Optional) */

@media screen and (max-width: 576px) {
  .flex{
    flex-direction: column;
    
  }
  /* header section */
  .nav{
    flex-direction: row;
    
  }
  .menu-items{
    display: none;
  }
  .hamburger-menu{
    display: contents;
    
  }
/* ssssssss */
.full-content{
  background-repeat: no-repeat;
  
  width: 100%;
}

/* .hero-section{
  background-image:url(./B13-A02-TechWave/assets/hero-bg.png);
  width: 100%;

} */
.circle{
  position: relative;
  width: 20%;
  left: 190px;
  top: 99px;
  
}
.microphone{
  width: 10%;
  position: relative;
  left: 112px;
  top: 90px;
}
.new{
  background-color: #00FF88;
  padding:10px ;
  border-radius: 20px;
  position: relative;
  
  left: 100px;
  top: 20px;
}
 /* second page */
 .second-page-content{
  padding: 5px;
}

.card{
  
  padding: 40px 20px;
  gap: 40px;
  justify-content: center;
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  

}
/* third page */
.third-page{
  background-color: 
rgba(35, 14, 61, 1);
padding: 40px 20px;

}
.third-page div h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.grid-content{
  
  gap: 16px;
  
  display: flex;
 flex-direction: column;
  
  
}

/* featured episodes */
.featured-episode{
  
  padding: 40px 20px;
}
.featured-episode>h2{
  margin-bottom: 24px;
}

.featured-card{
  
  gap: 16px;
}
.featured-card-styles:hover{
    transform: rotate(2deg);

}
.featured-card-styles>iframe{
    width: 100%;

}

/* some shared style */

.featured-card div div{
  padding: 16px;
}
.featured-card div div h3{
  margin-bottom: 8px;
}
.featured-p{
  margin-bottom: 8px;
}
/* meet the host */
.meet-host{
  margin-top: 60px;
  margin-bottom: 24px;
}
.feature-footer{
  
  gap: 16px;
  padding: 24px;
}

.icon-circle{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(83, 60, 114, 1);
  
}

.icons{
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}
/* footer section */
footer{

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
   width: 100%;
  height: 100%; 
}
.footer-tech{
  font-size: 3rem;
}
.footer-wave{
  font-size: 3rem;

  
}

footer>h3{
  padding-top: 40px;
  padding-bottom: 24px;
}
.footer-icons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  gap: 2px;
 
}
.icon-p{
  gap: 2px;
  padding-bottom: 2px;
}
.footer-icons div img{
  justify-content: center;
  align-items: center;
  width: 10%;
}
.icon-p{
  flex-direction: row;
  gap: 1px;
  justify-content: center;
  align-items: center;
  
}


  
}
@media screen and (min-width:577px) and (max-width: 992px) {
  
}







